[Desktop Entry]
Encoding=UTF-8
Name=Link to http://upload-images.jianshu.io/upload_images/1399853-1b08244a4d375624.jpg?imageMogr2/auto-orient/strip%7CimageView2/2
Type=Link
URL=http://upload-images.jianshu.io/upload_images/1399853-1b08244a4d375624.jpg?imageMogr2/auto-orient/strip%7CimageView2/2
Icon=image-jpeg
Name[en_US]=re-sheet.jpg
